<apex:page controller="EmployeePageController" >
<!-- Begin Default Content REMOVE THIS -->
<h1>This is Employee Page</h1>

<apex:form >
	<apex:pageMessages />
	<table>
		<tr>
			<th>First Name:</th>
			<td><apex:inputText value="{!e.FirstName__c}"/></td>
		</tr>
		<tr>
			<th>Last Name:</th>
			<td><apex:inputText value="{!e.LastName__c}"/></td>
		</tr>
		<tr>
			<th>City:</th>
			<td><apex:inputText value="{!e.City__c}"/></td>
		</tr>
		<tr>
			<td><apex:commandButton value="Save Employee" action="{!submitEmployee}"/></td>
		</tr>
	</table>
</apex:form>
</apex:page>